<nav class = "navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Better Ruby Answers</a>
		<ul class="nav navbar-nav">
		  <li class="active"><a href="<%= questions_url %>">Home</a></li>
		  <li><a href="<%= answers_url %>">Profile</a></li>
		</ul>

		<ul class="nav navbar-right">
		  <% if logged_in? %>
        <li><%= current_user.name %>&nbsp;<i class="fa fa-user"></i><br></li>
        <li><span><%= link_to "Logout", logout_path %>&nbsp;<i class="fa fa-sign-out"></span></i></li>
      <% else %>
        <li><h5><span><%= link_to "Login With Stack Exchange", "/auth/stackexchange" %>&nbsp;<i class="fa fa-sign-in"></i></span></h5></li>
      <% end %>
    </ul>
	</div>
</nav>