<!DOCTYPE html>
<html>
<head>
  <title>BetterStackAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>

<div>
	<%= render :partial => "partials/nav" %><br>
  <%= render :partial => "partials/flash" %>
</div>

<body class="container">

	<%= yield %>

</body>
</html>
