<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Accepted answer</th>
      <th>Body</th>
      <th>Creation date</th>
      <th>Tags</th>
      <th>Title</th>
      <th>Up vote count</th>
      <th>Answer count</th>
      <th>Is answered</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question_id %></td>
        <td><%= question.accepted_answer_id %></td>
        <td><%= question.body %></td>
        <td><%= question.creation_date %></td>
        <td><%= question.tags %></td>
        <td><%= question.title %></td>
        <td><%= question.up_vote_count %></td>
        <td><%= question.answer_count %></td>
        <td><%= question.is_answered %></td>
        <td><%= question.link %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
