<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question_id %>
</p>

<p>
  <strong>Accepted answer:</strong>
  <%= @question.accepted_answer_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @question.creation_date %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @question.tags %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Up vote count:</strong>
  <%= @question.up_vote_count %>
</p>

<p>
  <strong>Answer count:</strong>
  <%= @question.answer_count %>
</p>

<p>
  <strong>Is answered:</strong>
  <%= @question.is_answered %>
</p>

<p>
  <strong>Link:</strong>
  <%= @question.link %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
