<div class="row">
	<div class="well well-lg col-lg-4">
		<div class="row">
		  <div class="col-lg-6">
			  <%= image_tag @user.picture %>
		  </div>
		  <div class="col-lg-6">
			  <h4><%= @user.name %></h4></br>
			  <div>
			  	<span class="badge" id="ruby-version">
			    <%= button_to "Ruby Version", ruby_update_path, method: :get, :class => "btn-sm btn-info" %>
			    <%= GemVersion.ruby %></span>
			  </div></br>
			  <div>
			  	<span class="badge" id="rails-version">
          <%= button_to "Rails Version", rails_update_path, method: :get, :class => "btn-sm btn-info" %>
			    <%= GemVersion.rails %></span>
			  </div>
		  </div>
		</div></br>
		<div class="row">
	    <%= pie_chart({ "Up to Date" => @user.questions.up_to_date.count, "Needs Updated" => @user.questions.outdated.count }, library: {backgroundColor: "#e3f2fd"}) %>
    </div>
	</div>

  <div class="col-lg-7 col-lg-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">Questions to Monitor</div>
			<div class="panel-body">
			  <%= render :partial => "owned_questions", locals: { user: @user }%>
			</div>
	  </div>

	</div>
</div>


